/*COLOR*/
$white: white;
$grey:#777777; 
$black: #181818;
$bleu: #5BA4C6;

/*RESPONSIVE*/
$mobile-small:"only screen and (max-width:320px)";
$mobile:"only screen and (max-width:676px)";
$tablet:"only screen and (min-width:677px) and (max-width:992px)";
$tablet-dekstop:"only screen and (min-width:993px) and (max-width:1280px)";
